* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
}
* a {
  text-decoration: none;
}

.brand {
  position: absolute;
  text-transform: uppercase;
  font-size: 4rem;
  transition: 0.5s ease;
  margin: auto;
  font-family: "Anton", sans-serif;
}

.brand1 {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 0%, 0 100%);
}

.brand2 {
  clip-path: polygon(0 100%, 50% 0%, 100% 100%, 100% 100%, 0 100%);
}

.header:hover .brand1 {
  transform: translateY(-10px);
}

.header:hover .brand2 {
  transform: translateY(10px);
}

.waves {
  position: absolute;
  bottom: 0;
  height: 527px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.waves .wave {
  position: absolute;
  left: -180px;
  bottom: 0;
  width: 2402px;
  height: 427px;
  background: url(/img/waves.png) center bottom no-repeat;
  animation: 25s wave ease infinite alternate;
}
.waves .wave.a {
  background-position: 0 -854px;
}
.waves .wave.b {
  background-position: 0 -427px;
  animation-delay: 0.6s;
}
.waves .wave.c {
  background-position: 0 0;
  animation-delay: 1.2s;
}

@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-80px, 30px);
  }
  100% {
    transform: translate(160px, -60px);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.body {
  background: linear-gradient(-45deg, #434343, #000000, #b8b8b8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite alternate;
  height: 100vh;
  width: 100%;
  background-blend-mode: normal, normal, screen, overlay, normal;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  height: 12rem;
  width: 100%;
  backdrop-filter: blur(13px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.header .box {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .navbar-brand {
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.header .navbar-brand:hover {
  background-color: #434343;
}

.main {
  display: flex;
  flex-direction: row;
}

.section {
  height: auto;
  width: auto;
  backdrop-filter: blur(7px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 0.1rem solid rgba(209, 213, 219, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem;
}

.aside {
  height: auto;
  width: 100%;
  backdrop-filter: blur(7px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 0.1rem solid rgba(209, 213, 219, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input.form-control {
  background-color: #ffffff;
  width: 100%;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.1rem;
}

input[type=submit] {
  background-color: #434343;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
input[type=submit]:hover {
  transition: 0.5s;
  background-color: #000000;
  color: #ffffff;
}

.modal-content {
  backdrop-filter: blur(7px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 0.1rem solid rgba(209, 213, 219, 0.5);
}
.modal-content .actualizar {
  background-color: #1987549c;
  color: #ffffff;
}
.modal-content .actualizar:hover {
  transition: 0.5s;
  background-color: #198754;
  color: #ffffff;
}
.modal-content .cancelar {
  background-color: #dc354673;
  color: #ffffff;
}
.modal-content .cancelar:hover {
  transition: 0.5s;
  background-color: #dc3545;
  color: #ffffff;
}

.footer {
  width: 100%;
  height: 5rem;
  backdrop-filter: blur(13px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
}
.footer .footer__p {
  margin: auto;
  padding: 0 3rem 0 3rem;
}

/*# sourceMappingURL=style.css.map */
