
@media (max-width: 992px) {
  html {
    padding-bottom: 20rem;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer__p {
    font-size: smaller;
  }
  .section, table {
    width: 40rem;
  }
  #sectionLogin, #sectionRegistro{
    width: 30rem;
  }
}