@import "reset";
@import "animaciones";

html {
  scroll-behavior: smooth;
}

.body {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-bottom: 5rem;
  overflow-x: hidden;
}
canvas {
  display: block;
  position: absolute;
  z-index: -1;
}
.header {
  height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  margin-bottom: 4rem;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.section {
  height: auto;
  width: 32rem;
  backdrop-filter: blur(7px) saturate(100%);
  border-radius: 1rem;
  border: 0.1rem solid rgba(209, 213, 219, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
}
#sectionRegistro, #sectionLogin, #section404 {
  width: 25rem;
  margin: auto;
}
.table{
  width: 24rem;
  height: auto;
  font-size: 0.8rem;
  vertical-align: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#projects  {
  width: 10rem;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.3rem;
}
input.form-control, select.form-select  {
  width: 100%;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

input[type='submit'] {
  background-color: #434343;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  margin: 0 1rem;
  padding: 1rem;
  &:hover {
    transition: 0.5s;
    background-color: #000000;
    color: #ffffff;
  }
}
button.anadir {
  color: #ffffff;
  &:hover {
    transition: 0.5s;
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.1);
  }
}
.modal-content {
  backdrop-filter: blur(7px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 0.1rem solid rgba(209, 213, 219, 0.5);
  .actualizar {
    background-color: #1987549c;
    color: #ffffff;
    &:hover {
      transition: 0.5s;
      background-color: #198754;
      color: #ffffff;
    }
  }
  .cancelar {
    background-color: #dc354673;
    color: #ffffff;
    &:hover {
      transition: 0.5s;
      background-color: #dc3545;
      color: #ffffff;
    }
  }
}
.error {
  border: 3px solid #dc3545;
  background-color: #dc35460c;
}
.exito {
  border: 3px solid #198754;
  background-color: #19875410;
}
.btn-check:focus+.btn, .btn:focus {
  box-shadow: none;
}
.footer {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  position: fixed;
  margin: auto;
  .footer__p {
    margin: auto;
  }
  .form-check {
    margin-left: 2rem;
    .form-check-input{
      background-color: #dadada;
    }
    .form-check-input:checked {
      background-color: #212529;
      border-color: rgb(117, 117, 117);
  }
  }
}

// @media (width: 375px) {
//   .header {
//     margin-bottom: 4rem;
//   }
//   .section {
//     width: 23rem;
//     form {
//       width: 20rem;
//     }
//   }
//   #sectionRegistro{
//     width: 23rem;
//     height: 35rem;
//     margin: 0 auto;
//   }
//   #sectionLogin {
//     width: 20rem;
//     height: auto;
//     margin: 0 auto;
//   }
//     .footer__p {
//       font-size: smaller;
//   }
  
// .table{
//   width: 22rem;
//   height: auto;
//   font-size: 0.8rem;
// }
// }
// @media (min-width: 425px) {
//   .header {
//     margin-bottom: 4rem;
//   }
//   .section {
//     width: 27rem;
//     form {
//       width: 20rem;
//     }
//   }
//   #sectionRegistro{
//     width: 27rem;
//     height: 35rem;
//     margin: 0 auto;
//   }
//   #sectionLogin {
//     width: 27rem;
//     height: auto;
//     margin: 0 auto;
//   }
//     .footer__p {
//       font-size: smaller;
//   }
  
// .table{
//   width: 22rem;
//   height: auto;
//   font-size: 0.8rem;
// }
// }
// @media (width: 576px) {
//   .header {
//     margin-bottom: 4rem;
//   }
//   .section {
//     width: 29rem;
//     form {
//       width: 20rem;
//     }
//   }
//   #sectionRegistro{
//     width: 29rem;
//     height: 35rem;
//     margin: 0 auto;
//   }
//   #sectionLogin {
//     width: 29rem;
//     height: auto;
//     margin: 0 auto;
//   }
//     .footer__p {
//       font-size: smaller;
//   }
  
// .table{
//   width: 22rem;
//   height: auto;
//   font-size: 0.8rem;
// }
// }
// @media (width: 768px) {
//   .header {
//     margin-bottom: 4rem;
//   }
//   .section {
//     width: 40rem;
//     form {
//       width: 20rem;
//     }
//   }
//   #sectionRegistro{
//     width: 40rem;
//     height: 35rem;
//     margin: 0 auto;
//   }
//   #sectionLogin {
//     width: 40rem;
//     height: auto;
//     margin: 0 auto;
//   }
//     .footer__p {
//       font-size: smaller;
//   }
  
// .table{
//   width: 22rem;
//   height: auto;
//   font-size: 0.8rem;
// }
// }
